.swiper {
    width: 550px;
    /* 在此处可自定义轮播图的宽高，记得改完下面的min-width和.swiper img的宽度也要改 */
    height: 700px;
    position: relative;
    overflow: hidden;
    min-width: 300px;
}

.swiper li {
    float: left;
}

.swiper ul {
    width: 500%;
    /*有n张图片轮播就宽度为（n+1）%*/
    position: absolute;
    left: 0;
}

.swiper img {
    width: 550px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 40px;
    background: rgba(88, 84, 84, 0.3);
    opacity: 0.8;
    text-align: center;
    line-height: 40px;
    color: white;
    display: none;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.point {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 145px;
    height: 35px;
}

ol li {
    height: 10px;
    width: 10px;
    float: left;
    background-color: #f9f6f5;
    opacity: 0.6;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.point li:nth-child(n) {
    margin-right: 20px;
}

.point li:last-child {
    margin-right: 0;
}

ol .current {
    background-color:#191716;
    opacity: 0.8;
}